/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS START */

html {
    background-color: #000000;
}
body {
    width: 485px;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 3em;
    color: #007d7b;
}
h2 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}
p {
    font-size: 1.25em;
    padding: 10px;
}
figcaption, label, input, small {
    font-size: 1em;
}

/* HEADER */

header{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

/* NAVIGATION */

nav{
    background-color: #000000;
}
nav a {
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    font-weight: bold;
}
nav h2 {
    visibility:hidden;
    height:1px;
  }
nav ul{
    text-align: center;
}
nav li{
    display: inline-flex;
}
[href="#top"] {
    position: fixed;
    bottom:0px;
    right:0px;
    border: solid;
    border-color: #ffffff;
    padding: 5px;
    margin: 5px;
  }
  nav a:hover {
    color: #007d7b;
  }

/* MAIN */
section h2{
    padding: 5px;
}
#gallery img{
    margin: auto;
    padding: 10px;
    display: block;
}
#chile, #guatemala, #hawaii, #moab, #wyoming {
    color: #ffffff;
}
figcaption{
    text-transform: uppercase;
    text-align: center;
}
#ireland, #iran {
    position: relative;
    bottom: 615px;
}
.figcaptionbottom{
    position: relative;
    top: -40px;
}
.figcaptiontop{
    position: relative;
    bottom: 270px;
}

/* CONTACT */
#contact{
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
}
#contact p{
    text-align: center;
}

/* FORM */
legend{
    visibility: hidden;
}
form{
    width: 400px;
    margin: auto;
}
input, label, select, textarea{
	display: block;
    width: 100%;
}
input{
    color: #007d7b;
    padding: 5px;
    font-weight: bold;
}
fieldset{
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 8px;
    justify-content: center;
    align-items: center;
}
input[type="submit"]{
    margin: auto;
	background-color: #007d7b;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
	color: #fff;
    width: 50%;
    border-radius: 15px;
}

/* FOOTER */
footer{
    padding-top: 50px;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

/* MEDIA */

@media screen and (min-width: 880px){
    body{
        width: 880px;
    }
    header{
        text-align: left;
    }
    #photo-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1300px){
    body{
        width: 1300px;
    }
    nav ul{
        text-align: right;
    }
    #gallery img{
        padding: 0;
    }
    #photo-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}